/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Amiko&subset=latin);
h2{
	text-align: center;
	font-size: 24px;
}
hr{
	margin-bottom: 30px;
}
div.container.dashboard {
	width: 1000px;
	height: 610px;
	margin:50px auto;
	font-family: 'Amiko', sans-serif;
	position:relative;
}
div.container.przekazywanie {
	width: 1000px;
	height: 610px;
	margin:50px auto;
	font-family: 'Amiko', sans-serif;
	position:relative;
}
div.main{
	width: 320px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 55px 40px;
	background-color: rgba(187, 255, 184, 0.65);
	border: 15px solid white;
	box-shadow: 0 0 1px;
	border-radius: 2px;
	font-size: 13px;
}
div.main.dashboard{
	width: 1000px;
}
div.main.przekazywanie{
	width: 800px;
}
input[type=text],[type=password] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 16px;
}
label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}
#login {
	width: 100%;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	font-size: 20px;
	margin-top: 15px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	text-shadow: 0px 1px 0px #13506D;
}
#login:hover{
	background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
h4{
	text-align: right;
	margin-left:auto;
	margin-right: auto;
	font-size: 15px;
}
.left {
    float: left;
    width: 50%;
}

.right {
    margin-left: 30%;
}
h3.header{
	font-size: 20px;
}
select.list{
	width: 40%;
}
th{
	background-color:darkgrey;
}
tr{
	background-color: azure;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.btn-space {
	margin: 5px;
}