<!--/*--><!--@thymesVar id="data" type="Pair<String, SortedMap<String, com.bsk.util.EntityInfo>> "--><!--*/-->
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="tableDiv"
     th:with="entitiesInfo=${data.getValue()},
            activeTabName=${data.getKey()}">
    <div th:with="columnNamesHb=${T(com.bsk.util.EntityInfo).capitalizeColumnNames(entitiesInfo.get('__${activeTabName}__').getColumnNamesInHb())},
         listName=${entitiesInfo.get('__${activeTabName}__').getTableNameInHb()+'s'},
         entityName=${entitiesInfo.get('__${activeTabName}__').getTableNameInHb()}">

        <div class="col-md-2 " style="height: 720px;background-color:rgba(34,171,233,0.2); padding-top: 10px">

            <H4 style="text-align: center">Hurtownia</H4>
            <hr/>
            <ul th:each="entry : ${entitiesInfo}">
                <li th:id="buttons">
                    <button type="button" class="btn btn-sq btn-block btn-space" th:text="${entry.key}"
                            th:onclick="|changeTable('${entry.key}');refresh('${entry.key}')|"
                            th:classappend="${entry.key == activeTabName}? btn-info: none">
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div th:id="tableDiv" id="tableDiv">
                <h3 style="text-align: center">Zawartość tabeli</h3>
                <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead"
                             th:each="columnName : ${entitiesInfo.get('__${activeTabName}__').getColumnNamesInDb()}"
                             th:text="${columnName}"></div>
                    </div>
                    <div class="divTableBody">
                        <div class="divTableRow" th:each=" element: ${__${listName}__}">
                            <div class="divTableCell" th:each="columnName: ${columnNamesHb}"
                                 th:with="getterName=${'element.get'+columnName+'()'}"
                                 th:id="'div'+${columnName}"
                                 th:value="${__${getterName}__}"
                                 th:text="${__${getterName}__}"
                                 style="white-space: nowrap;">
                            </div>
                            <div class="divTableCell">
                                <button type="button" class="btn btn-info btn-sm"
                                        th:onclick="|loadModalEdit('${activeTabName}', '${element.getId()}')|"
                                        th:id="${element.getId()}"
                                        th:attr="data-id=${element.getId()}"
                                        onclick="">Edytuj
                                </button>
                            </div>
                            <div class="divTableCell">
                                <form th:with="primaryKeyGetter=${'element.get'+columnNamesHb[0]+'()'}"
                                      th:action="@{'/__${listName}__/delete/{id}'(id=${__${primaryKeyGetter}__})}"
                                      th:method="delete"
                                      th:id="'deleteForm'+${__${primaryKeyGetter}__}">
                                    <button type="submit" th:form="'deleteForm'+${__${primaryKeyGetter}__}"
                                            id="deleteRow"
                                            class="btn btn-sm btn-danger">Usuń
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <form th:object="${__${entityName}__}"
                      th:action="@{'/__${listName}__/create'}"
                      th:method="post"
                      th:id="createForm">
                    <ul>
                        <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                            <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                            <span th:text="${e.message}">The error message</span>
                        </li>
                    </ul>
                    <h4 style="text-align: center">Wprowadź nowy wiersz</h4>
                    <div th:replace="fragments/forms/__${entityName}__Form::tableForm">
                    </div>
                    <tr>
                        <td>
                            <button type="submit" th:form="createForm" id="createRow" class="btn btn-sm">Dodaj wiersz
                            </button>
                        </td>
                    </tr>
                </form>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 800px; margin-top: 250px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edycja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modal-content">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function loadModalEdit(tableName, id) {
            $('#modal-content').load("/modalEdit", {"activeTabName": tableName, "id": id});
            $('#myModal').modal('show');
        }
        /*]]>*/
    </script>
</div>







