<!--/*--><!--@thymesVar id="data" type="Pair<String, SortedMap<String, com.bsk.util.EntityInfo>> "--><!--*/-->

<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="tableDiv"
     th:with="entitiesInfo=${data.getValue()},
            activeTabName=${data.getKey()}"
     id="divTable">
    <div th:with="columnNamesHb=${T(com.bsk.util.EntityInfo).capitalizeColumnNames(entitiesInfo.get('__${activeTabName}__').getColumnNamesInHb())},
         listName=${entitiesInfo.get('__${activeTabName}__').getTableNameInHb()+'s'},
         entityName=${entitiesInfo.get('__${activeTabName}__').getTableNameInHb()}">
        <div class="col-md-2 "
             style="height: 870px;background-color:rgba(34,171,233,0.2); padding-top: 10px; padding-left:40px ">

            <H4 style="text-align: center">Hurtownia</H4>
            <hr/>
            <ul th:each="entry : ${entitiesInfo}">
                <li th:id="buttons"
                    th:if="${entitiesInfo.get('__${entry.key}__').getPrivilege().getRead() != 'NONE'}">
                    <button type="button" class="btn btn-sq btn-block btn-space" th:text="${entry.key}"
                            th:onclick="|changeTable('${entry.key}');refresh('${entry.key}')|"
                            th:classappend="${entry.key == activeTabName}? btn-info: none">
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div th:id="tableDiv" id="tableDiv">
                <h3 style="text-align: center"
                    th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getRead() != 'NONE'}">Zawartość
                    tabeli</h3>
                <div class="row" style="float: right; padding: 10px"
                     th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getRead() != 'NONE'}">
                </div>
                <h4
                        th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getRead() == 'NONE'}"
                        style="text-align: center">
                    Brak tabel do wyświetlenia.
                </h4>
                <table id="contentTable" class="divTable display compact" cellspacing="0">
                    <thead th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getRead() != 'NONE'}">
                    <tr>
                        <th class="divTableHead"
                            th:each="columnName : ${entitiesInfo.get('__${activeTabName}__').getColumnNamesInDb()}"
                            th:text="${columnName}"></th>
                        <th class="divTableHead"></th>
                        <th class="divTableHead"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" element: ${__${listName}__}"
                        th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getRead() != 'NONE'}">
                        <td class="divTableCell" th:each="columnName: ${columnNamesHb}"
                            th:with="getterName=${'element.get'+columnName+'()'}"
                            th:id="'div'+${columnName}"
                            th:value="${__${getterName}__}"
                            th:text="${__${getterName}__}"
                            style="white-space: nowrap;">
                        </td>
                        <td class="divTableCell"
                            th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getUpdate() != 'NONE'}">
                            <button type="button" class="btn btn-info btn-sm"
                                    th:onclick="|loadModalEdit('${activeTabName}', '${element.getId()}')|"
                                    th:id="${element.getId()}"
                                    th:attr="data-id=${element.getId()}"
                                    onclick="">Edytuj
                            </button>
                        </td>
                        <td class="divTableCell"
                            th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getDelete() != 'NONE'}">
                            <form th:with="primaryKeyGetter=${'element.get'+columnNamesHb[0]+'()'}"
                                  th:action="@{'/__${listName}__/delete/{id}'(id=${__${primaryKeyGetter}__})}"
                                  th:method="delete"
                                  th:id="'deleteForm'+${__${primaryKeyGetter}__}">
                                <button type="submit" th:form="'deleteForm'+${__${primaryKeyGetter}__}"
                                        id="deleteRow"
                                        class="btn btn-sm btn-danger">Usuń
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

                <hr/>
                <form th:object="${__${entityName}__}"
                      th:action="@{'/__${listName}__/create'}"
                      th:method="post"
                      th:id="createForm"
                      th:if="${entitiesInfo.get('__${activeTabName}__').getPrivilege().getCreate() != 'NONE'}">
                    <h4 style="text-align: center">Wprowadź nowy wiersz</h4>
                    <div th:replace="fragments/forms/__${entityName}__Form::tableForm">
                    </div>
                    <tr>
                        <td>
                            <button type="submit" th:form="createForm" id="createRow" class="btn btn-sm btn-primary">
                                Dodaj wiersz
                            </button>
                        </td>
                    </tr>
                </form>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document" style="text-align: center">
                <div class="modal-content" style="width: 950px; margin-top: 250px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edycja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modal-content">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        function loadModalEdit(tableName, id) {
            var token = $("meta[name='_csrf']").attr("content");
            $.ajax({
                url: "/modalEdit",
                headers: {'X-CSRF-TOKEN': token},
                data: {"activeTabName": tableName, "id": id},
                type: "POST",
            }).done(function (data) {
                $('#modal-content').html(data);
            });
            //$('#modal-content').load("/modalEdit", {"activeTabName": tableName, "id": id});
            $('#myModal').modal('show');
        }


        $(document).ready(function () {
            $('#contentTable').DataTable({
                "paging": true,
                "language": {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono pasujących pozycji",
                    "emptyTable": "Brak danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                    "aria": {
                        "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                        "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                    }
                }
            })
        });
        /*]]>*/
    </script>
</div>







