/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Amiko&subset=latin);
h2{
	text-align: center;
	font-size: 24px;
}
div.container.dashboard {
	width: 1200px;
	height: 900px;
	margin:50px auto;
	font-family: 'Amiko', sans-serif;
	position:relative;
}
div.container.logowanie {
	width: 1000px;
	height: 610px;
	margin:50px auto;
	font-family: 'Amiko', sans-serif;
	position:relative;
}
div.container.przekazywanie {
	width: 830px;
	height: 610px;
	margin:50px auto;
	font-family: 'Amiko', sans-serif;
	position:relative;
}
div.main{
	width: 590px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 55px 40px;
	background-color: rgba(187, 255, 184, 0.65);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 16px;
}
div.main.dashboard{
	width: 1300px;
	height: 750px;
	padding: 5px;
}
div.main.dashboard.container{
	height: 750px;
}
div.main.przekazywanie{
	width: 800px;
}

input[type=text], [type=password], [type=email], [type=number], [type=date] {
	width: 100%;
	box-shadow: 0 0 5px #00F5FF;
	border: 2px solid #00F5FF;
	color: #4f4f4f;
	font-size: 18px;
	height: 30px;
}
label{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 22px;
}
#login {
	width: 100%;
	background: linear-gradient(#22abe9 5%, #36caf0 100%);
	border: 1px solid #0F799E;
	font-size: 20px;
	margin-top: 15px;
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	text-shadow: 0 1px 0 #13506D;
}
#login:hover{
	background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
h4{
	text-align: right;
	margin-left:auto;
	margin-right: auto;
	font-size: 20px;
}
.left {
    float: left;
    width: 50%;
}

.right {
    margin-left: 30%;
}
h3.header{
	font-size: 20px;
}
select.list{
	width: 100%;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.list-group{
    font-size: 16px;
    font-style: oblique;
    text-align: center;
}

.btn-space {
	margin: 5px;
}
.gradient{
	background-color: rgba(34, 171, 233, 0.65);
}

.btn-sq {
	width: 150px !important;
	height: 50px !important;
	font-size: 13px;
}

.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #ffffff;
	background-color: wheat;
	display: table-cell;
	padding: 3px 10px;
}

.divTableRow:hover .divTableCell {
	background-color: #FFD699;
}

.divTableHead {
	background-color: #999999;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.divTableName{
	background-color: #EEE;
	font-weight: bold;
	border: 1px solid #ffffff;
	display: table-cell;
	padding: 3px;
}
.divPrivilege{
	border: 1px solid #ffffff;
	background-color: wheat;
	display: table-cell;
	padding: 10px;
}
.yellow  { background-color: #f4d970; }

.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 40px;

}
.space-for-div{
	padding-top: 20px;
}
h5{
	text-align: center;
}