﻿﻿
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Widok admina</title>
</head>
<body th:if="${__${userPrivileges.isAdmin()}__}">
<div class="container dashboard">
    <h2>Zarządzanie uprawnieniami</h2>
    <h4 th:text="'Aktywny użytkownik: '+${username}"/>
    <h4>
        <form style="display: inline" action="/" method="get">
            <button type="submit" class="btn btn-md btn-primary">Zarządzaj danymi</button>
        </form>
        <form method="get" th:action="@{/offering}">
            <button type="submit" class="btn btn-md btn-primary">
                Przekaż uprawnienia
            </button>
        </form>
        <form method="post" th:action="@{/logout}">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-md btn-warning">Wyloguj</button>
        </form>
    </h4>
    <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px">

        <div class="divTable" style="align-content: center">
            <div class="divTableHeading">
                <div class="divTableHead">Użytkownicy</div>
                <div class="divTableHead"
                     th:each="entry : ${entitiesInfo}"
                     th:if="${entry.key != 'uzytkownicy'}"
                     th:text="${entry.key}"></div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow"
                     th:each="privilege: ${privileges}">

                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getReceiver().getLogin()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getVendor()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getCustomer()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getSalePosition()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getPurchasePosition()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getSale()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getWare()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getWarehouseProduct()}">
                    </div>
                    <div class="divTableCell"
                         style="white-space: nowrap;"
                         th:text="${privilege.getPurchase()}">
                    </div>
                    <div class="divTableCell">
                            <button type="submit"
                                    id="createRow"
                                    th:onclick="|create('${privilege.getReceiver().getLogin()}')|"
                                    class="btn btn-sm btn-success">Nadaj prawo
                            </button>
                    </div>
                    <div class="divTableCell">
                        <button type="button"
                                th:onclick="|modify('${privilege.getReceiver().getLogin()}')|"
                                class="btn btn-info btn-sm">Edytuj
                        </button>
                    </div>
                    <div class="divTableCell">
                        <form th:action="@{'/admin-view/delete/'+__${privilege.getReceiver().getLogin()}__}"
                              th:method="delete">
                            <button type="submit"
                                    id="deleteRow"
                                    class="btn btn-sm btn-danger">Usuń
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function create(username) {
        var token = $("meta[name='_csrf']").attr("content");
        //$('body').load("/offering?grantMode=" + mode);
        $.ajax({
            url: "/offering/create?username=" + username,
            headers: {'X-CSRF-TOKEN': token},
            type: "GET"
        }).done(function (data) {
            $('body').html(data);
        });
    }
    function modify(username) {
        var token = $("meta[name='_csrf']").attr("content");
        //$('body').load("/offering?grantMode=" + mode);
        $.ajax({
            url: "/offering/modify?username=" + username,
            headers: {'X-CSRF-TOKEN': token},
            type: "GET"
        }).done(function (data) {
            $('body').html(data);
        });
    }
    /*]]>*/
</script>
</body>
</html>