<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>


<div class="container dashboard">
    <h2>Moduł zarządzania zawartością</h2>
    <h4>Aktywny użytkownik: user@test.com</h4>
    <h4>
        <button type="submit" class="btn btn-sm">
            <a href="offering.html">Przekaż uprawnienia</a>
        </button>
        <button type="submit" class="btn btn-sm">Wyloguj</button>
    </h4>
    <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px" >
        <div class="row">
            <div class="col-md-2 " style="height: 570px; background-color:rgba(34,171,233,0.2); padding-top: 10px" >

                <H4 style="text-align: center">Hurtownia</H4>
                <hr/>
                <ul>
                    <li><button type="button" class="btn btn-sq btn-block btn-space">Dostawcy</button></li>
                    <li><button type="button" class="btn btn-sq btn-block btn-space">Zakupy</button></li>
                    <li><button type="button" class="btn btn-sq btn-block btn-space">Towary zakupione</button></li>
                    <li><button type="button" class="btn btn-sq btn-block disabled btn-space">Magazyn</button></li>
                    <li><button type="button" class="btn btn-sq btn-block disabled btn-space">Opis towarów</button></li>
                    <li><button type="button" class="btn btn-sq btn-block btn-space">Towary sprzedane</button></li>
                    <li><button type="button" class="btn btn-sq btn-primary btn-block btn-space">Klienci</button></li>
                    <li><button type="button" class="btn btn-sq btn-block  btn-space">Sprzedaże</button></li>
                </ul>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-8">
                <h4 style="text-align: left">Dane klientów</h4>
                <div>
                    <!--/*--><!--@thymesVar id="allCustomers" type="List<com.bsk.domain.Customer>"--><!--*/-->
                    <table id="example" class="table table-condensed table-bordered table-hover" cellspacing="10"
                           width="70%">
                        <thead>
                            <tr>
                                <th>nip_klienta</th>
                                <th>nazwa</th>
                                <th>telefon</th>
                                <th>ulica</th>
                                <th>nr_domu</th>
                                <th>nr_lokalu</th>
                                <th>kod_pocztowy</th>
                                <th>miasto</th>
                                <th>rabat</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer : ${allCustomers}">
                            <td th:text="${customer.getNip()}"></td>
                            <td th:text="${customer.getName()}"></td>
                            <td th:text="${customer.getPhoneNumber()}"></td>
                            <td th:text="${customer.getStreet()}"></td>
                            <td th:text="${customer.getHouseNumber()}"></td>
                            <td th:text="${customer.getFlatNumber()}"></td>
                            <td th:text="${customer.getPostalCode()}"></td>
                            <td th:text="${customer.getCity()}"></td>
                            <td th:text="${customer.getDiscount()}"></td>
                            <td><form action="#" th:action="@{'/dashboard/delete/{nip}'(nip=${customer.getNip()})}" th:method="delete" >
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" id="submitButton" class="btn btn-sm">Usuń wiersz</button>
                            </form></td>
                        </tr>
                        <form action="#" th:action="@{/dashboard/add}" method="post">
                            <tr>
                                <td><input class="tdinput" type="text" th:name="nip"/></td>
                                <td><input class="tdinput" type="text" th:name="name"/></td>
                                <td><input class="tdinput" type="text" th:name="phoneNumber"/></td>
                                <td><input class="tdinput" type="text" th:name="street"/></td>
                                <td><input class="tdinput" type="text" th:name="houseNumber"/></td>
                                <td><input class="tdinput" type="text" th:name="flatNumber"/></td>
                                <td><input class="tdinput" type="text" th:name="postalCode"/></td>
                                <td><input class="tdinput" type="text" th:name="city"/></td>
                                <td><input class="tdinput" type="text" th:name="discount"/></td>
                            </tr>
                            <tr>
                                <td><button type="submit" name="addRow" class="btn btn-sm">Dodaj wiersz</button></td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- /#page-content-wrapper -->

</body>
</html>