<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<!--/*--><!--@thymesVar id="tabName" type="String"--><!--*/-->
<body th:with="activeTabName=${tabName == null?entitiesInfo.firstEntry().getKey():tabName}"
      th:onload="|changeTable('${activeTabName}')|">

<!--/*--><!--@thymesVar id="entitiesInfo" type="TreeMap<String, com.bsk.domain.EntityInfo>"--><!--*/-->
<div class="container dashboard">
    <h2>Moduł zarządzania zawartością</h2>
    <h4>Aktywny użytkownik: user@test.com</h4>
    <h4>
        <button type="submit" class="btn btn-sm">
            <a th:href="@{/offering}">Przekaż uprawnienia</a>
        </button>
        <button type="submit" class="btn btn-sm">Wyloguj</button>
    </h4>
    <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px">
        <div th:id="tableDiv" class="row"></div>
    </div>
</div>

<!-- /#page-content-wrapper -->
<script th:inline="javascript">
    /*<![CDATA[*/
    function changeTable(tableName) {
        $('#tableDiv').load("/table", {"activeTabName": tableName});
    }
    function refresh(tableName) {
        $('#buttons').load(this);
    }
    /*]]>*/
</script>
</body>
</html>