<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
		<link rel="stylesheet" href="css/logowanie.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
		<title>Bezpieczeństwo systemów komputerowych</title>
</head>
	<body>
		<div class="container logowanie">
			<div class="main" style="margin-right: auto;  margin-left: auto">
				<div th:if="${param.error}">
					Niepoprawna nazwa użytkownika lub hasło.
				</div>
				<div th:if="${param.logout}">
					Zostałeś wylogowany.
				</div>
				<form th:action="@{/login}" method="post">
					<h2>Hurtownia Sportowa BSK</h2>
					<label>Login :</label>
					<input type="text" name="username"/>
					<label>Hasło :</label>
					<input type="password" name="password"/>
					<button class="btn btn-md btn-success" type="submit">Zaloguj</button>
				</form>
			</div>
		</div>
	</body>
</html>