<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Przekazywanie uprawnień</title>
</head>
<body>
    <div class="container dashboard">
        <h2>Moduł przekazywania uprawnień</h2>
        <h4 th:text="'Aktywny użytkownik: '+${username}"/>
        <h4>
            <form style="display: inline" action="/" method="get">
                <button type="submit" class="btn btn-sm">Zarządzaj danymi</button>
            </form>
            <a th:href="@{/logout}"> <button type="submit" class="btn btn-sm">Wyloguj</button></a>
        </h4>
        <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px">
            <div class="row">
                <div class="col-md-4" ></div>
                <div class="col-md-4">
                    <button style="display: inline" type="button" class="btn btn-sq btn-block btn-space" th:text="Przekaż" ></button>
                    <button style="display: inline" class="btn btn-sq btn-block btn-space" th:text="Oddaj"></button>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">

            </div>
        </div>
    </div>
</body>
</html>