<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Przekazywanie uprawnień</title>
</head>
<body >
    <div class="container dashboard">
        <h2>Moduł przekazywania uprawnień</h2>
        <h4 th:text="'Aktywny użytkownik: '+${username}"/>
        <h4>
            <form style="display: inline" action="/" method="get">
                <button type="submit" class="btn btn-sm">Zarządzaj danymi</button>
            </form>
            <a th:href="@{/logout}"> <button type="submit" class="btn btn-sm">Wyloguj</button></a>
        </h4>
        <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px">
            <div class="row">
                <div class="col-md-4" ></div>
                <div class="col-md-4">
                    <button style="display: inline" type="button" class="btn btn-sq btn-block btn-space"

                            th:onclick="|changeGrantMode('grant')|"
                            th:classappend="${grantMode == 'grant'}? btn-info: none">Przekaż</button>
                    <button style="display: inline" class="btn btn-sq btn-block btn-space"
                            th:onclick="|changeGrantMode('give')|"
                            th:classappend="${grantMode == 'give'}? btn-info: none">Oddaj</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row" style="margin-top: 10px" >
                <div class="col-md-8" >
                    <div class="divTable" th:with=" privilegesList = ${ {'Select', 'Insert', 'Update', 'Delete'} }">
                        <div class="divTableHeading" >
                            <div class="divTableHead"
                                 th:text="Tabele"></div>
                            <div class="divTableHead"
                                 th:each=" privilege: ${privilegesList}"
                                 th:text="${privilege}">
                            </div>
                        </div>
                        <div class="divTableBody">
                            <div class="divTableRow" th:each="tableName : ${tableNames}">
                                <div class="divTableName" th:text="${tableName}"></div>
                                <div class="divPrivilege" th:each="privilege: ${privilegesList}">
                                    <select class=" list yellow rounded" th:id ="${tableName} + ${privilege}">
                                        <option>Nie przekazuj</option>
                                        <option>Z delegacją</option>
                                        <option>Bez delegacji</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <h4>Wybierz użytkownika</h4>
                    <select class=" list yellow rounded" id="chosenUser">
                        <option th:each="user : ${users}" th:text="${user}"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function changeGrantMode(mode) {
            $('body').load("/offering?grantMode=" + mode);
        }
        /*]]>*/
    </script>
</body>
</html>