﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/logowanie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Przekazywanie uprawnień</title>
</head>
<body >
    <div class="container dashboard">
        <h2>Moduł przekazywania uprawnień</h2>
        <h4 th:text="'Aktywny użytkownik: '+${username}"/>
        <h4>
            <form style="display: inline" action="/" method="get">
                <button type="submit" class="btn btn-md btn-primary">Zarządzaj danymi</button>
            </form>
            <form method="post" th:action="@{/logout}">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-md btn-warning">Wyloguj</button>
            </form>
        </h4>
        <div class="panel panel-default main dashboard" style="padding-left: 12px; padding-top: 0px">
            <div class="row space-for-div">
                <div class="col-md-4" ></div>
                <div class="col-md-4">
                    <h4 style="color: green" th:if="${successfullyGranted}">Przekazano poprawnie uprawnienia</h4>
                    <h4 style="color: red" th:if="${failedGranted}">Nie można przekazać takiego uprawnienia</h4>
                    <h4 style="color: red" th:if="${noGrants}">Nie wybrano żadnych uprawnień</h4>
                    <button style="display: inline" type="button" class="btn btn-sq btn-block btn-space"
                            th:onclick="|changeGrantMode('grant')|"
                            th:classappend="${grantMode == 'grant'}? btn-info: none">Przekaż</button>
                    <button style="display: inline" class="btn btn-sq btn-block btn-space"
                            th:onclick="|changeGrantMode('give')|"
                            th:classappend="${grantMode == 'give'}? btn-info: none">Oddaj</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <form th:action="@{'/privilege/grant'}"
                  th:object="${sentPrivilege}"
                  th:method="post"
                  th:id="createForm" >
                <div class="row space-for-div"  >
                        <div class="col-md-7" >
                            <div class="divTable" th:with=" privilegesList = ${privilegeInfo.getColumnNamesInHb()}" >
                                <div class="divTableHeading" >
                                    <div class="divTableHead"
                                         th:text="Tabele"></div>
                                    <div class="divTableHead"
                                         th:each=" privilege: ${privilegesList}"
                                         th:text=" ${T(org.springframework.util.StringUtils).capitalize(privilege)}"
                                         th:if="${privilege} != 'id'">
                                    </div>
                                </div>
                                <div class="divTableBody">
                                    <div class="divTableRow"
                                         th:with=" capitalizeTableHbName=  ${T(org.springframework.util.StringUtils).capitalize(tableName.getValue())},
                                                grantRights=${'userPrivileges.get'+ capitalizeTableHbName +'().hasAnyGrantRight()'}"
                                         th:each="tableName : ${grantedPrivilegeInfo.getColumnNamesDbHbMap()}" th:if="${tableName.getKey()} != 'Dawca' and ${tableName.getKey()} != 'Przejmij'"
                                         th:field="*{__${tableName.getValue()}__}" >
                                        <div class="divTableName" th:text="${tableName.getKey()}"
                                             th:if="${__${grantRights}__} == true"></div>
                                        <div class="divPrivilege" th:each="privilege: ${privilegesList}"
                                             th:if="${privilege} != 'id' and ${__${grantRights}__} == true"
                                             th:with="capitalizedPrivilegeName= ${T(org.springframework.util.StringUtils).capitalize(privilege)},
                                             getterName=${'userPrivileges.get'+ capitalizeTableHbName +'().get'+capitalizedPrivilegeName+'()'}">
                                            <select class=" list yellow rounded" th:field="*{__${tableName.getValue() + '.' + privilege}__}" >
                                                <option style="color:gray" th:selected="true"
                                                        th:if="${__${getterName}__} == 'NONE' or ${__${getterName}__} == 'ACCESS'"
                                                        value="NONE">Brak praw
                                                </option>
                                                <option th:if="${__${getterName}__} == 'GRANT'" value="NONE" >Nie przekazuj</option>
                                                <option th:if="${__${getterName}__} == 'GRANT'" value="ACCESS">Bez delegacji</option>
                                                <option th:if="${__${getterName}__} == 'GRANT'" value="GRANT">Z delegacją</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1" > </div>
                        <div class="col-md-3" >
                            <h5>Wybierz użytkownika</h5>
                            <select class=" list yellow rounded" th:field="*{receiverName}" required="required">
                                <option th:each="user : ${users}" th:value="${user}" th:text="${user}"></option>
                            </select>
                        </div>
                        <div class="col-lg-1" > </div>
                </div>
                <div class="row space-for-div"  >
                    <div class="col-md-9"></div>
                    <div class="col-md-2">
                        <button type="submit" th:form="createForm" id="sendPrivilege" class="btn btn-sq btn-block btn-space btn-info" th:text="Wyślij">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function changeGrantMode(mode) {
            var token = $("meta[name='_csrf']").attr("content");
            //$('body').load("/offering?grantMode=" + mode);
            $.ajax({
                url: "/offering?grantMode=" + mode,
                headers: {'X-CSRF-TOKEN': token},
                type: "GET"
            }).done(function (data) {
                $('body').html(data);
            });
        }
        /*]]>*/
    </script>
</body>
</html>